<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страны, говорящие на языке {{ language }}</title>
</head>
<body>
    <h1>Страны, говорящие на языке {{ language }}</h1>
    <ol>
        {% for country in countries %}
            <li><a href="{% url 'country_detail' country_name=country.country %}">{{ country.country }}</a></li>
        {% endfor %}
    </ol>
    <p><a href="{% url 'language_list' %}">К списку языков</a></p>
    <p><a href="{% url 'country_list' %}">К списку стран</a></p>
    <p><a href="{% url 'home' %}">На главную страницу</a></p>
</body>
</html>
